# Smart joins

In [1]:
import mimic
import logger
import icu_data_defs
from constants import ALL,column_names
import utils

In [8]:
reload(utils)
reload(logger)
data_dict = icu_data_defs.data_dictionary('config/data_definitions.xlsx')
ids = mimic.get_all_hadm_ids()
components = data_dict.get_panel_defintions(12).component.unique().tolist()
components.remove(data_dict.components.HEMOGLOBIN)
paths = ['cleaned/{}'.format(c) for c in components]
path_joined = ALL
store = utils.smart_join('data/mimic_data_noindex.h5',paths,path_joined,ids[:10000])

(2017-07-06 16:15:57) Smart join: n=10000, ['cleaned/heart rate', 'cleaned/blood pressure systolic', 'cleaned/blood pressure diastolic', 'cleaned/blood pressure mean', 'cleaned/respiratory rate', 'cleaned/temperature body', 'cleaned/oxygen saturation pulse oximetry', 'cleaned/weight body', 'cleaned/output urine', 'cleaned/glasgow coma scale motor', 'cleaned/glasgow coma scale eye opening', 'cleaned/glasgow coma scale verbal', 'cleaned/normal saline', 'cleaned/lactated ringers', 'cleaned/norepinephrine', 'cleaned/vasopressin', 'cleaned/lactate']
(2017-07-06 16:15:57)>> JOINING dataframes
index>=100001 & index<=108446
(2017-07-06 16:15:57)>>>> Slice & Join: 100001 --> 108446, n=5000
(2017-07-06 16:15:57)>>>>>> cleaned/heart rate
(2017-07-06 16:15:58)<<<<<< --- (1.0s)
(2017-07-06 16:15:58)>>>>>> cleaned/blood pressure systolic
(2017-07-06 16:16:00)<<<<<< --- (2.0s)
(2017-07-06 16:16:00)>>>>>> cleaned/blood pressure diastolic
(2017-07-06 16:16:03)<<<<<< --- (3.0s)
(2017-07-06 16:16:03)>>>>>> cleaned/blood pressure mean
(2017-07-06 16:16:04)<<<<<< --- (1.0s)
(2017-07-06 16:16:04)>>>>>> cleaned/respiratory rate
(2017-07-06 16:16:06)<<<<<< --- (2.0s)
(2017-07-06 16:16:06)>>>>>> cleaned/temperature body
(2017-07-06 16:16:07)<<<<<< --- (1.0s)
(2017-07-06 16:16:07)>>>>>> cleaned/oxygen saturation pulse oximetry
(2017-07-06 16:16:09)<<<<<< --- (2.0s)
(2017-07-06 16:16:09)>>>>>> cleaned/weight body
(2017-07-06 16:16:10)<<<<<< --- (1.0s)
(2017-07-06 16:16:10)>>>>>> cleaned/output urine
(2017-07-06 16:16:13)<<<<<< --- (3.0s)
(2017-07-06 16:16:13)>>>>>> cleaned/glasgow coma scale motor
(2017-07-06 16:16:15)<<<<<< --- (2.0s)
(2017-07-06 16:16:15)>>>>>> cleaned/glasgow coma scale eye opening
(2017-07-06 16:16:17)<<<<<< --- (2.0s)
(2017-07-06 16:16:17)>>>>>> cleaned/glasgow coma scale verbal
(2017-07-06 16:16:19)<<<<<< --- (2.0s)
(2017-07-06 16:16:19)>>>>>> cleaned/normal saline
(2017-07-06 16:16:22)<<<<<< --- (3.0s)
(2017-07-06 16:16:22)>>>>>> cleaned/lactated ringers
(2017-07-06 16:16:24)<<<<<< --- (2.0s)
(2017-07-06 16:16:24)>>>>>> cleaned/norepinephrine
(2017-07-06 16:16:27)<<<<<< --- (3.0s)
(2017-07-06 16:16:27)>>>>>> cleaned/vasopressin
(2017-07-06 16:16:30)<<<<<< --- (3.0s)
(2017-07-06 16:16:30)>>>>>> cleaned/lactate
(2017-07-06 16:16:34)<<<<<< --- (4.0s)
(2017-07-06 16:16:34)<<<< --- (37.0s)
(2017-07-06 16:16:34)>>>> Append slice
index>=108450 & index<=116855
(2017-07-06 16:16:52)<<<< --- (18.0s)
(2017-07-06 16:16:52)>>>> Slice & Join: 108450 --> 116855, n=5000
(2017-07-06 16:16:52)>>>>>> cleaned/heart rate
(2017-07-06 16:16:55)<<<<<< --- (3.0s)
(2017-07-06 16:16:55)>>>>>> cleaned/blood pressure systolic
(2017-07-06 16:17:01)<<<<<< --- (6.0s)
(2017-07-06 16:17:01)>>>>>> cleaned/blood pressure diastolic
(2017-07-06 16:17:06)<<<<<< --- (5.0s)
(2017-07-06 16:17:06)>>>>>> cleaned/blood pressure mean
(2017-07-06 16:17:08)<<<<<< --- (2.0s)
(2017-07-06 16:17:08)>>>>>> cleaned/respiratory rate
(2017-07-06 16:17:10)<<<<<< --- (2.0s)
(2017-07-06 16:17:10)>>>>>> cleaned/temperature body
(2017-07-06 16:17:11)<<<<<< --- (1.0s)
(2017-07-06 16:17:11)>>>>>> cleaned/oxygen saturation pulse oximetry
(2017-07-06 16:17:13)<<<<<< --- (2.0s)
(2017-07-06 16:17:13)>>>>>> cleaned/weight body
(2017-07-06 16:17:15)<<<<<< --- (2.0s)
(2017-07-06 16:17:15)>>>>>> cleaned/output urine
(2017-07-06 16:17:18)<<<<<< --- (3.0s)
(2017-07-06 16:17:18)>>>>>> cleaned/glasgow coma scale motor
(2017-07-06 16:17:20)<<<<<< --- (2.0s)
(2017-07-06 16:17:20)>>>>>> cleaned/glasgow coma scale eye opening
(2017-07-06 16:17:22)<<<<<< --- (2.0s)
(2017-07-06 16:17:22)>>>>>> cleaned/glasgow coma scale verbal
(2017-07-06 16:17:25)<<<<<< --- (3.0s)
(2017-07-06 16:17:25)>>>>>> cleaned/normal saline
(2017-07-06 16:17:28)<<<<<< --- (3.0s)
(2017-07-06 16:17:28)>>>>>> cleaned/lactated ringers
(2017-07-06 16:17:30)<<<<<< --- (2.0s)
(2017-07-06 16:17:30)>>>>>> cleaned/norepinephrine
(2017-07-06 16:17:33)<<<<<< --- (3.0s)
(2017-07-06 16:17:33)>>>>>> cleaned/vasopressin
(2017-07-06 16:17:36)<<<<<< --- (3.0s)
(2017-07-06 16:17:36)>>>>>> cleaned/lactate
(2017-07-06 16:17:41)<<<<<< --- (5.0s)
(2017-07-06 16:17:41)<<<< --- (49.0s)
(2017-07-06 16:17:41)>>>> Append slice
(2017-07-06 16:18:09)<<<< --- (28.0s)
(2017-07-06 16:18:09)<< --- (132.0s)
(2017-07-06 16:18:09) --- (132.0s)

In [32]:
df_all = store['all'].set_index([column_names.ID,column_names.DATETIME])
df_all.shape

(1387786, 46)

In [33]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1387786 entries, (100001, 2117-09-11 12:57:00) to (116855, 2117-12-10 08:30:00)
Data columns (total 46 columns):
(heart rate, known, qn, beats/min, 211(BPM))                   592486 non-null float64
(heart rate, known, qn, beats/min, 211(bpm))                   287643 non-null float64
(heart rate, known, qn, beats/min, 220045(bpm))                453108 non-null float64
(heart rate, unknown, qn, no_units, 1332)                      0 non-null float64
(heart rate, unknown, qn, no_units, 1341)                      0 non-null float64
(heart rate, unknown, qn, no_units, 1725)                      0 non-null float64
(blood pressure systolic, known, qn, mmHg, 220050)             192231 non-null float64
(blood pressure systolic, known, qn, mmHg, 220179)             214853 non-null float64
(blood pressure systolic, known, qn, mmHg, 224167)             104 non-null float64
(blood pressure systolic, known, qn, mmHg, 225309)             15412 non-null float64
(blood pressure systolic, known, qn, mmHg, 227243)             80 non-null float64
(blood pressure systolic, known, qn, mmHg, 442)                384 non-null float64
(blood pressure systolic, known, qn, mmHg, 455)                274917 non-null float64
(blood pressure systolic, known, qn, mmHg, 51)                 344578 non-null float64
(blood pressure systolic, known, qn, mmHg, 6)                  1 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_108/56)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_110/56)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_113/55)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_113/60)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_115/56)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_116/54)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_119/55)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_120/54)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_120/56)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_121/55)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_122/55)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_122/57)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_123/54)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_124/56)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_125/56)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_126/58)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_129/57)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_130/58)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_131/60)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_132/59)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_133/59)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_139/64)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_141/59)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_143/63)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_152/68)    1010138 non-null float64
(blood pressure systolic, unknown, nom, no_units, 6_185/79)    1010138 non-null float64
(blood pressure systolic, unknown, qn, cc/min, 3313)           24281 non-null float64
(blood pressure systolic, unknown, qn, cc/min, 3315)           279 non-null float64
(blood pressure systolic, unknown, qn, cc/min, 3317)           222 non-null float64
(blood pressure systolic, unknown, qn, cc/min, 3321)           215 non-null float64
(blood pressure systolic, unknown, qn, cc/min, 3323)           220 non-null float64
dtypes: float64(46)
memory usage: 502.2+ MB

In [7]:
for component in data_dict.get_panel_defintions(12).component.unique().tolist():
    print component
    print 'OPENING...'
    df = pd.read_hdf('data/mimic_data.h5','cleaned/{}'.format(component))
    df.reset_index('datetime',drop=False,inplace=True)
    display(df.head())
    print 'SAVING...'
    df.to_hdf('data/mimic_data_noindex.h5','cleaned/{}'.format(component),format='t')
    del df

lactate
OPENING...

component                datetime lactate                                   \
status                              known                          unknown
variable_type                          qn                              nom
units                              mmol/L                         no_units
description                          1531 225668 50813  818 1531(mmol/L)_.
id
100001        2117-09-11 09:32:00     NaN    NaN   1.9  NaN              0
100003        2150-04-17 19:12:00     NaN    1.1   1.1  NaN              0
100006        2108-04-08 10:58:00     NaN    NaN   4.5  4.5              0
100007        2145-03-31 00:44:00     NaN    NaN   3.1  NaN              0
100007        2145-04-02 14:10:00     NaN    NaN   1.9  NaN              0

component                                                           \
status
variable_type
units
description   1531(mmol/L)_5,0 1531(mmol/L)_>30 1531(mmol/L)_>30.0
id
100001                       0                0                  0
100003                       0                0                  0
100006                       0                0                  0
100007                       0                0                  0
100007                       0                0                  0

component                          ...                                     \
status                             ...
variable_type                      ...
units                              ...
description   1531(mmol/L)_CLOTTED ... 818(mmol/L)_7.9O1B 818(mmol/L)_>30
id                                 ...
100001                           0 ...                  0               0
100003                           0 ...                  0               0
100006                           0 ...                  0               0
100007                           0 ...                  0               0
100007                           0 ...                  0               0

component                                                              \
status
variable_type
units
description   818(mmol/L)_>30.0 818(mmol/L)_CLOTTED 818(mmol/L)_ERROR
id
100001                        0                   0                 0
100003                        0                   0                 0
100006                        0                   0                 0
100007                        0                   0                 0
100007                        0                   0                 0

component
status
variable_type                                              qn
units                                                no_units
description   818(mmol/L)_VOIDED 818(mmol/L)_no data   225668 50813 818
id
100001                         0                   0      NaN   NaN NaN
100003                         0                   0      NaN   NaN NaN
100006                         0                   0      NaN   NaN NaN
100007                         0                   0      NaN   NaN NaN
100007                         0                   0      NaN   NaN NaN

[5 rows x 64 columns]

SAVING...

In [28]:
store = pd.HDFStore('data/mimic_data_noindex.h5')
store.select('cleaned/heart rate',where=['index<=100003']).set_index('datetime',append=True)

component                  heart rate
status                          known                       unknown
variable_type                      qn                            qn
units                       beats/min                      no_units
description                  211(BPM) 211(bpm) 220045(bpm)     1332 1341 1725
id     datetime
100001 2117-09-11 12:57:00        NaN      NaN       122.0      NaN  NaN  NaN
       2117-09-11 13:00:00        NaN      NaN       118.0      NaN  NaN  NaN
       2117-09-11 13:50:00        NaN      NaN       118.0      NaN  NaN  NaN
       2117-09-11 14:00:00        NaN      NaN       118.0      NaN  NaN  NaN
       2117-09-11 15:00:00        NaN      NaN       110.0      NaN  NaN  NaN
       2117-09-11 16:00:00        NaN      NaN       104.0      NaN  NaN  NaN
       2117-09-11 17:00:00        NaN      NaN       101.0      NaN  NaN  NaN
       2117-09-11 18:00:00        NaN      NaN       112.0      NaN  NaN  NaN
       2117-09-11 19:00:00        NaN      NaN       108.0      NaN  NaN  NaN
       2117-09-11 20:00:00        NaN      NaN       116.0      NaN  NaN  NaN
       2117-09-11 21:00:00        NaN      NaN       117.0      NaN  NaN  NaN
       2117-09-11 22:00:00        NaN      NaN       124.0      NaN  NaN  NaN
       2117-09-11 23:00:00        NaN      NaN       115.0      NaN  NaN  NaN
       2117-09-12 00:00:00        NaN      NaN       115.0      NaN  NaN  NaN
       2117-09-12 01:00:00        NaN      NaN       118.0      NaN  NaN  NaN
       2117-09-12 02:00:00        NaN      NaN       114.0      NaN  NaN  NaN
       2117-09-12 03:00:00        NaN      NaN       106.0      NaN  NaN  NaN
       2117-09-12 04:00:00        NaN      NaN        90.0      NaN  NaN  NaN
       2117-09-12 05:00:00        NaN      NaN        99.0      NaN  NaN  NaN
       2117-09-12 06:00:00        NaN      NaN       103.0      NaN  NaN  NaN
       2117-09-12 07:00:00        NaN      NaN       113.0      NaN  NaN  NaN
       2117-09-12 08:00:00        NaN      NaN       107.0      NaN  NaN  NaN
       2117-09-12 09:00:00        NaN      NaN       115.0      NaN  NaN  NaN
       2117-09-12 10:00:00        NaN      NaN       114.0      NaN  NaN  NaN
       2117-09-12 11:00:00        NaN      NaN       117.0      NaN  NaN  NaN
       2117-09-12 12:00:00        NaN      NaN       115.0      NaN  NaN  NaN
       2117-09-12 13:00:00        NaN      NaN       112.0      NaN  NaN  NaN
       2117-09-12 14:00:00        NaN      NaN       117.0      NaN  NaN  NaN
       2117-09-12 15:00:00        NaN      NaN       117.0      NaN  NaN  NaN
       2117-09-12 16:00:00        NaN      NaN       124.0      NaN  NaN  NaN
...                               ...      ...         ...      ...  ...  ...
100003 2150-04-18 08:00:00        NaN      NaN        75.0      NaN  NaN  NaN
       2150-04-18 09:00:00        NaN      NaN        77.0      NaN  NaN  NaN
       2150-04-18 10:00:00        NaN      NaN        82.0      NaN  NaN  NaN
       2150-04-18 11:00:00        NaN      NaN        74.0      NaN  NaN  NaN
       2150-04-18 11:18:00        NaN      NaN        76.0      NaN  NaN  NaN
       2150-04-18 12:00:00        NaN      NaN        77.0      NaN  NaN  NaN
       2150-04-18 13:00:00        NaN      NaN        75.0      NaN  NaN  NaN
       2150-04-18 14:00:00        NaN      NaN        80.0      NaN  NaN  NaN
       2150-04-18 15:00:00        NaN      NaN        80.0      NaN  NaN  NaN
       2150-04-18 16:00:00        NaN      NaN        89.0      NaN  NaN  NaN
       2150-04-18 17:00:00        NaN      NaN        82.0      NaN  NaN  NaN
       2150-04-18 18:00:00        NaN      NaN        85.0      NaN  NaN  NaN
       2150-04-18 19:00:00        NaN      NaN        88.0      NaN  NaN  NaN
       2150-04-18 20:00:00        NaN      NaN        87.0      NaN  NaN  NaN
       2150-04-18 21:00:00        NaN      NaN        88.0      NaN  NaN  NaN
       2150-04-18 22:00:00        NaN      NaN        84.0      NaN  NaN  NaN
       2150-04-18 23:00:00        NaN      NaN        85.0      NaN  NaN  NaN
       2150-04-19 00:00:00        NaN      NaN        86.0      NaN  NaN  NaN
       2150-04-19 01:00:00        NaN      NaN        72.0      NaN  NaN  NaN
       2150-04-19 02:00:00        NaN      NaN        89.0      NaN  NaN  NaN
       2150-04-19 03:00:00        NaN      NaN        76.0      NaN  NaN  NaN
       2150-04-19 04:00:00        NaN      NaN        81.0      NaN  NaN  NaN
       2150-04-19 05:00:00        NaN      NaN        74.0      NaN  NaN  NaN
       2150-04-19 06:00:00        NaN      NaN        80.0      NaN  NaN  NaN
       2150-04-19 07:00:00        NaN      NaN        85.0      NaN  NaN  NaN
       2150-04-19 08:00:00        NaN      NaN        86.0      NaN  NaN  NaN
       2150-04-19 09:00:00        NaN      NaN        93.0      NaN  NaN  NaN
       2150-04-19 10:00:00        NaN      NaN        87.0      NaN  NaN  NaN
       2150-04-19 11:00:00        NaN      NaN        75.0      NaN  NaN  NaN
       2150-04-19 12:00:00        NaN      NaN        94.0      NaN  NaN  NaN

[141 rows x 6 columns]